body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  margin: 3cm 2.5cm;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: #111;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 2em;
}

em {
  color: #999;
}

hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 3em 0;
}

code {
  font-family: monospace;
  background: #f6f6f6;
  padding: 2px 4px;
  border-radius: 4px;
}
